
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Roboto:300,400,700&display=swap&subset=latin-ext');

$main-color: #2b2b2b;
$special-font: 'pt sans', 'roboto', arial, sans-serif;
$default-font: arial, sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
font-size: 10px;
font-family: $default-font;
color: white;
background-image: url('/flexbox/assets/tlo.png')
}

.wrapper{
  // container
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  // pozycja i wielkość
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  //wygląd
  font-size: 2rem;
  box-shadow: 0 0 5px rgb(116, 116, 116);
  background-color: $main-color;

}

.logo{
  margin-left:30px;
  flex-basis: 200px;
  @media(max-width: 630px){
    margin: auto;
    flex-basis: 250px;
  }

  &__image{
    display: block;
    width: 100%;
    
  }
}

.search{
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  @media(max-width: 799px){
    flex-basis: 100%;
    order: -1;
    margin: 5px 0 20px;
  }
  &__input{
    flex-basis: 60%;
    height: 50%;
    max-height: 60px;
    min-height: 50px;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 1.4rem;
    border: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    color:white;
    &:focus{
      box-shadow: 0 0 2px rgb(153, 180, 240);
    }
  }

  &__btn{
    padding: 0 25px;   
    height: 50%;
    max-height: 60px;
    min-height: 50px;

    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;

    font-size: 1.6rem;
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    transition: 0.4s;
    cursor: pointer;
    
    &:hover{
      background-color: rgb(238, 238, 238);
      color: black;
    }
  }
}

.settings{
  display: flex;
  align-items: center;
  padding: 0 50px;
  @media(max-width: 799px){
   flex-grow: 1;
   justify-content: flex-end;
  }
  @media(max-width: 630px){
    flex-direction: column;
    flex-grow:0;
    justify-content: center;
  }
  @media(max-width: 400px){
    flex-direction: row;
    flex-grow:1;
  }
  
  &__icon-link{
    margin: 0 10px;
    font-size: 3rem;
    color: rgb(143, 143, 143);
    &:hover{
      color: white;
    }
  }
}

.menu{
  flex-basis: 100%;
  height: 70px;
  margin-top: 10px;
  padding: 15px 50px 15px 80px;
  font-family: $special-font;
  @media(max-width: 650px){
    height: auto;
    padding: 15px 50px;
  }

  &__list{
    display: flex;
    list-style: none;
    @media(max-width: 650px){
      flex-wrap: wrap;
      flex-basis: 50%;
      text-align: center;
    }
  }
  &__item{
    margin: 0 20px;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 4rem;
    @media(max-width: 650px){
      flex-basis: 40%;
      margin: auto;
    }
    
    &:hover{
      border-bottom: 2px yellow solid;
      @media(max-width: 650px){
       border: none;
      }
    }
    &:nth-last-child(1){
      margin-left: auto;
      border: 1px solid gray;
      border-radius: 5px;
      @media(max-width: 650px){
        margin: auto;
        flex-basis: 30%;
      }
      &:hover{
      border-color: yellow;
     
      }
      .menu__link{
        padding: 1px 25px;
      }
    }
  }
  &__link{
    display: block;
    padding:  0 10px;
    color: #e2e2e2;
    text-decoration: none;
  }

}

.article{
  padding: 30px 50px;
  text-align: center;
  
  &--small{
    padding:  20px 30px;
  }

  &__image{
    display: block;
    width:100%;
    transition: .2s;
    &:hover{
      filter: brightness(0.7);
    }
  }

  &__title{
    font-family: $special-font;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 35px 0 15px;
    cursor: pointer;
    .article--small &{
      padding:  25px 0 10px;
      font-size: 1.8rem;
    }
  }

  &__introduction{
    
    line-height: 1.6;
    font-size: 1.6rem;
  }
  &__btn{
    display: block;
    width: 60%;
    min-width: 200px;
    font-size: 1.8rem;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 6px 12px;
    margin: 10px auto;
    background-color: rgba(255, 254, 254, 0.226);
    transition: .2s;
    cursor: pointer;
    &:hover{
      background-color: transparent;
    }
  }
}

.main-articles{
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  background-color: lighten($main-color, 20%);
  &__intro{
    flex-basis: 100%;
    padding: 10px 0;
    margin: 60px 0 30px;
    background-color: darken(lighten($main-color, 20%), 10%);
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .article{
    flex-basis: 50%;
    @media(max-width: 799px){
      flex-basis:100%;
    }
  }
}

.article-list{
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  
  background-color: rgba(161, 184, 199, 0.548);
  &__article{
    flex-basis: 30%;
    
    @media(max-width: 1023px){
      flex-basis: 45%;
    }
    @media(max-width: 799px){
      flex-basis: 90%;
      
    }
  }
}

.footer{
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: $main-color;
  padding: 20px 0;
  @media(max-width: 500px){
    flex-wrap: wrap;
  
  }
  .sm-links{
    flex-basis: 30%;
    @media(max-width: 799px){
     flex-basis: 90%
    }
  }
  
}
.sm-links{
  font-family: $special-font;
  padding: 20px;
  text-align: center;
  
  &__title{
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5rem;
    @media(max-width: 799px){
      font-size: 2rem;
    }
  }
  &__item{
    font-size: 1.8rem;
  }
}